.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  
}

.cell {
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    display: inline-block;
    margin-right: 2px; 
}